# These are simple regular expression (glob) patterns
# for files and directories that Git should ignore

# Editor (e.g., Emacs) temp files
*~
\#*\#

# Compiled code and objects
*.exe
*.EXE
*.a
*.so
*.o
*__genmod.f90
*__genmod.mod

# Binary data files
*.bin
*.2001-2008

# modules implicitly created by ifort
ave_netcdf_1d.mod
ave_netcdf.mod
calc_chla.mod
epa_gem_params.mod
input_vars.mod
light_vars.mod
mod_epacom_gem_utilities_1d.mod
mod_epacom_gem_utilities.mod
model_dim.mod
mpi_dim.mod
output_netcdf_1d.mod
output_netcdf.mod
rkvectormod.mod
temp_vars.mod
which_flux.mod
cgem_vars.mod
conversions.mod
dailyrad.mod
date_time.mod
gasx.mod
jwmod.mod
mass_balance.mod
mconstants.mod
mdepth2press.mod
mp2fco2.mod
mp80.mod
mphsolvers.mod
mrho.mod
mrhoinsitu.mod
msingledouble.mod
msw_adtg.mod
msw_ptmp.mod
msw_temp.mod
mvars.mod
mvarsolver.mod
netcdf_utilities.mod
nparray.mod
sdm.mod
stoich_vars.mod
test_mod.mod
input_vars_gd.mod
test_mod_gd.mod
output_netcdf_gd.mod
mass_balance_gd.mod
eut.mod
inremin.mod
states.mod
flags.mod
#
# Keep directories but not contents. [Not sure if this works.]
NETCDF/**
output/**

# Subversion
.svn/

# log and output files
logfile*
out
out.time
error
*.pdf
*.txt
!Model_dim.txt
!InitialConditions.txt
*.out

# Customized runtime files
submit.sh
my_submit.sh
GEM_InputFile
modules.sh

# Misc
tags
TAGS
